.nav-link-sup{
  font-weight: 700;
  font-size: 16px;
}
.nav-link-sup .mdl-navigation__link:hover{
  border-bottom: solid 4px #8bc34a;
}

.mdl-menu__item:hover{

  border-bottom: solid 4px #8bc34a;
}
.user-menu li:hover{

  /*font-weight: 700; 
  font-size: 16px;*/
   border-bottom: solid 4px #8bc34a;
} 
.nav li:hover{

  /*font-weight: 700; 
  font-size: 16px;*/
  border-bottom: solid 4px #8bc34a;
} 


  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
 .body {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
   
  }

.main {
    flex: 1 0 auto;
  }
   
 /*img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.orange600 { color: #FB8C00; }
.material-icons.teal600 { color: #1b5e20; } 
.material-icons.blue600 { color: #03a9f4; }
.material-icons.purple600 { color: #311b92; }

.iconfont{

 font-size: 5em; 
}

.iconfont3{

 font-size: 3em; 
}
.iconfont2{

 font-size: 4em; 
}
.iconfont1{

 font-size: 1em; 
}

